<!DOCTYPE html>
<html>
  <head>
    <title>Bubbles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Bangers&family=Finger+Paint&family=Permanent+Marker&family=Teko:wght@300;400&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="<%= image_url('bubble.png') %>" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script type="text/javascript">
  window.logoURL = "<%= image_url('bubble.png') %>";
  window.productURL = "<%= image_url('supermilk.png') %>";
  window.promoURL = "<%= image_url('supermilkpromo.png') %>";
  window.footBannerURL = "<%= image_url('foot-banner.png') %>";
  window.meURL = "<%= image_url('me.png') %>";
  window.welcomeURL = "<%= image_url('welcome-banner.jpg') %>";
  window.packagingURL = "<%= image_url('packaging.png') %>";
  window.emptyHeartURL = "<%= image_url('empty-heart.png') %>";
  window.fullHeartURL = "<%= image_url('full-heart.png') %>";
  window.learnMoreURL = "<%= image_url('learnmore.png') %>";
  window.cartIconURL = "<%= image_url('cart_icon.png') %>";
  
</script>
    <%if current_user %>
  <script>
  window.currentUser = {
    "id": "<%= current_user.id%>",
    "username": "<%= current_user.username%>",
    "email": "<%= current_user.email%>",
    "name": "<%= current_user.name%>"
  };
  </script>
<%end%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
